apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  labels:
    app: transaction-service
spec:
  selector:
    app: transaction-service
  ports:
  - name: http
    port: 80
    targetPort: 8092
  type: ClusterIP
