apiVersion: v1
kind: Service
metadata:
  name: compliance-service
  labels:
    app: compliance-service
spec:
  selector:
    app: compliance-service
  ports:
  - name: http
    port: 80
    targetPort: 8082
  type: ClusterIP
  replicas: '2'
